.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: width, height, margin-left, margin-top;
  transition-duration: 1s;
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgb(29, 160, 62);
  border-radius: 50%;
}
.message-ball {
  color: orange;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}
.promise-avatar-example {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.table {
  border-collapse: collapse;
}
.table td {
  border: 1px solid #424242;
  padding: 3px;
}
